/* Typing effect */
@keyframes typing {
    from { width: 0; }
    to { width: 77%; }
  }

@keyframes blink {
    50% { border-color: transparent; }
}

.typewriter {
    overflow: hidden; 
    /* border-right: 3px solid;  */
    text-wrap: nowrap;
    width: 0; 
    animation: typing 4s steps(40, end) forwards, blink 0.75s step-end infinite; 
}